.button {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $button-color-text;
  background-color: $button-background;
}
