/* здесь используйте глобальные переменные */
// цвета
$base-color-text: #444444;
$button-color-text:#ffffff;
$button-background: #68b738;
$base-color-text-black: #000000;
$button-background-white: #ffffff;
// шрифты
$oswald: "Oswald", "Arial", sans-serif;
$lato: "Lato", "Arial",sans-serif;

// размер экрана
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 320px;
