/* GLOBAL */
@import "./common/variables.scss";
@import "./common/global.scss";
@import "./common/fonts.scss";

// COMMON
@import "common/variables";
@import "common/global";
@import "common/fonts";

// BLOCKS
@import "blocks/header";
@import "blocks/nav";
@import "blocks/footer";
