.additional-products {
  width: 100%;
  font-size: 14px;
  line-height: 14px;
}

.additional-products__wrapper {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    padding-right: 109px;
  }
}

.additional-products__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  display: grid;
  grid-template-columns: repeat(1, 280px);

  @media (min-width: $tablet-width) {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(1, 708px);
  }

  @media (min-width: $desktop-width) {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.additional-products__container {
  @media (min-width: $desktop-width) {
    display: flex;
    gap: 80px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.additional-products__list-item {
  padding-top: 13px;
  padding-bottom: 19px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 26px 40px 28px 36px;
    border: 1px solid #cdcdcd;
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding: 0;
    width: 896px;
    justify-content: space-between;
    border-left: none;
    border-right: none;
  }
}

.additional-products__list-item:first-child {
  @media (min-width: $desktop-width) {
    border-top: 1px solid #cdcdcd;
  }
}

.additional-products__list-item::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
  position: absolute;
  top: 120px;
  left: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}


.additional-products__title {
  font-family: $oswald;
  font-size: 24px;
  line-height: 24px;
  color: #222222;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 36px;
  position: relative;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 80px;
  }
}

.additional-products__title::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: $button-background;
  position: absolute;
  top: 12px;
  left: 286px;

  @media (min-width: $tablet-width) {
    height: 2px;
    background-color: $button-background;
    top: 13px;
    left: 383px;
  }
}

.additional-products__title::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
  position: absolute;
  top: 50px;
  left: 0;

  @media (min-width: $tablet-width) {
    height: 2px;
    background-color: $button-background;
    top: 13px;
    left: -770px;
  }

  @media (min-width: $desktop-width) {
    left: -1250px;
  }
}


.additional-products__units,
.additional-products__price {
  font-family: $lato;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.additional-products__name {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 325px;
  }
}

.additional-products__units-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    gap: 48px;
    margin: 0;
  }


  @media (min-width: $desktop-width) {
    width: 285px;
  }
}


.additional-products__item-container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    align-items: center;
  }
}

.additional-products__button {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
