.advantages {
  width: 100%;
  margin-bottom: 49px;

  // @media (min-width: $tablet-width) {
  // }

  @media (min-width: $desktop-width) {
    min-height: 380px;
  }
}

.advantages__wrapper {
  min-height: 380px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    min-height: 380px;
    padding-left: 30px;
    padding-right: 109px;
  }

  @media (min-width: $desktop-width) {
    min-height: 280px;
    padding-left: 110px;
  }
}

.advantages__title {
  font-family: $oswald;
  font-size: 36px;
  line-height: 40px;
  color: $base-color-text-black;
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {

  }
}

.advantages__list {
  list-style: none;
  font-family: $lato;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 20px;

  @media (min-width: $tablet-width) {
    list-style: none;
    font-family: $lato;
    display: grid;
    grid-template-columns: 230px 230px;
    gap: 37px 137px;
  }

  @media (min-width: $desktop-width) {
    list-style: none;
    font-family: $lato;
    gap: 0;
    display: flex;
    justify-content: space-between;
  }
}

.advantages__item {
  width: 280px;
  min-height: 60px;
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 280px;
    position: relative;
  }
}

.advantages__text {
  padding-left: 80px;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 204px;
    padding-right: 0;
    padding-top: 151px;
    min-height: 280px;
    padding-left: 0;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 246px;
    padding: 151px 22px 57px 0;
    min-height: 280px;
    padding-right: 0;
  }
}

.advantages__item--benefit::after {
  content: "";
  background-image: url("../../icons/stack.svg#index-leaf");
  top: 0;
  width: 60px;
  height: 60px;
  background-color: $button-background;
  position: absolute;
  left: 0;
  display: block;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    top: 40px;
  }
}

.advantages__item--water::after {
  content: "";
  background-image: url("../../icons/stack.svg#index-water");
  top: 0;
  width: 60px;
  height: 60px;
  background-color: $button-background;
  position: absolute;
  left: 0;
  display: block;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    top: 40px;
  }
}

.advantages__item--instructions::after {
  content: "";
  background-image: url("../../icons/stack.svg#index-eat");
  top: 0;
  width: 60px;
  height: 60px;
  background-color: $button-background;
  position: absolute;
  left: 0;
  display: block;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    top: 40px;
  }
}

.advantages__item--index-watch::after {
  content: "";
  background-image: url("../../icons/stack.svg#index-watch");
  top: 0;
  width: 60px;
  height: 60px;
  background-color: $button-background;
  position: absolute;
  left: 0;
  display: block;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    top: 40px;
  }
}
