.button {
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $button-color-text;
  background-color: $button-background;
}

.button:hover {
  background-color: #5eaa2f;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button--grey {
  background-color: #f2f2f2;
  color: #444444;
}

.button--grey:hover {
  background-color: #ebebeb;
}

.button--grey:active {
  background-color: #ebebeb;
  color: $base-color-text;
}

