.catalog {
  width: 100%;
  margin-bottom: 26px;
}

.catalog__wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.catalog__title {
  font-family: $oswald;
  font-size: 60px;
  line-height: 60px;
  color: $base-color-text-black;
  font-weight: 400;
}

.catalog__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(1, 320px);
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 324px);
  }


  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 245px);
    gap: 60px;
  }
}

.catalog__product-card {
  min-height: 207px;
  padding: 20px 20px 25px;

  @media (min-width: $tablet-width) {
    padding-left: 37px;
    padding-right: 37px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 40px;
  }
}


// .catalog__product-card:not(:last-child) {
//   background-color: #f2f2f2;
// }

.catalog__product-card-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.catalog__product-card-link {
  text-decoration: none;
  color: #222222;
  text-transform: uppercase;
  font-family: $oswald;
}

.catalog__table {
  font-family: $lato;
  font-size: 12px;
  line-height: 16px;
}

.catalog__product-card-parameter {
  font-size: 12px;
  line-height: 16px;
}

.catalog__container-addition {
  width: 219px;
  min-height: 97px;
  padding-top: 53px;
  position: relative;
}

.catalog__container-addition::before {
  content: "";
  background-image: url("../../icons/stack.svg#catalog-plus");
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 109.5px;
}
