.catalog {
  width: 100%;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
  }
}

.catalog__wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.catalog__title {
  font-family: $oswald;
  font-size: 36px;
  line-height: 36px;
  color: $base-color-text-black;
  font-weight: 400;
  margin: 0;
  padding: 27px 22px 41px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 159px;
    padding-bottom: 0;
    font-size: 60px;
    line-height: 60px;
    padding-left: 0;
  }
}

.catalog__title::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
  position: absolute;
  top: 0;
  left: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.catalog__title::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
  position: absolute;
  top: 107px;
  left: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}


.catalog__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(1, 320px);
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 324px);
    gap: 141px 60px;
  }


  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 245px);
    gap: 143px 80px;
  }
}

.catalog__product-card {
  padding: 20px 20px 25px;
  min-height: 209px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0;
    min-height: 429px;
    background-color: #f2f2f2;
    padding-left: 37px;
    padding-right: 37px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 37.5px;
    padding-right: 37.5px;
  }
}

.catalog__product-card::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
  position: absolute;
  top: 209px;
  left: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}


.catalog__product-card-container {
  padding-left: 140px;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 160px;
  }
}

.catalog__picture {
  position: absolute;
  top: 30.5px;
  left: 36px;

  @media (min-width: $tablet-width) {
    top: -80px;
    left: 60px;
  }

  @media (min-width: $desktop-width) {
    left: 43px;
  }
}


.catalog__product-card-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 76px;
  margin: 0;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    text-align: center;
    width: auto;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 24px;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 10px;
    margin-bottom: 23px;
  }
}

.catalog__product-card-link {
  text-decoration: none;
  color: #222222;
  text-transform: uppercase;
  font-family: $oswald;
}

.catalog__table {
  font-family: $lato;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
  }
}

.catalog__table-tr {
  display: flex;
  justify-content: space-between;
  width: 140px;

  @media (min-width: $tablet-width) {
    width: 250px;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.catalog__table-tr::after {
  @media (min-width: $tablet-width) {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #cdcdcd;
    position: absolute;
    top: 27px;
  }
}

.catalog__table td {
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}


.catalog__product-card-parameter {
  font-size: 12px;
  line-height: 16px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }
}

.catalog__product-card--addition {
  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    border: 2px solid #f2f2f2;
  }
}

.catalog__container-addition {
  width: 219px;
  min-height: 97px;
  padding-top: 53px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 160px;
    margin-bottom: 92px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    margin-bottom: 90px;
  }
}

.catalog__product-card-title--addition {
  width: auto;
  align-items: center;
  padding: 0 7.5px;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    padding: 0 20.5px;
    margin-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.catalog__container-addition::before {
  content: "";
  background-image: url("../../icons/stack.svg#catalog-plus");
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 94.5px;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    top: 60px;
    right: 80px;
  }

  @media (min-width: $desktop-width) {
    right: 57px;
  }
}

.catalog__button {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
