.examples {
  background-color: #eaeaea;
  margin: 0 auto;
  width: 100%;

  @media (min-width: $tablet-width) {
    background: linear-gradient(0deg, #eaeaea 50%, #ffffff 50%);
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(0deg, #eaeaea 80%, #ffffff 20%);
  }
}

.examples__wrapper {
  padding: 25px 20px 40px;

  @media (min-width: $tablet-width) {
    padding: 45px 30px 101px;
  }

  @media (min-width: $desktop-width) {
    padding: 69px 110px 0;
    padding-top: 0;
  }
}

.examples__title {
  font-family: $oswald;
  font-size: 36px;
  line-height: 40px;
  color: $base-color-text-black;
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 76px;
  }
}


.examples__text {
  font-family: $lato;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.examples__expenses-container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 99px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    margin-bottom: 0;
  }
}


.examples__options {
  font-family: $oswald;
  font-size: 24px;
  line-height: 24px;
  color: $base-color-text-black;
  width: 124px;
  min-height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0;

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 37px;
  }

  @media (min-width: $desktop-width) {
    width: 162px;
    min-width: 77px;
    padding-top: 15px;
    padding-bottom: 20px;
  }
}

.examples__label--weight::after {
  content: "снижение веса";
  background-color: #eaeaea;
  width: 77px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  position: absolute;
  top: 46px;
  left: 20px;
  color: $base-color-text;
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 14px;
    width: 96px;
    padding: 0;
    top: 63px;
    left: 28px;
    background-color: #e6e6e6;
  }
}

.examples__label--time::after {
  content: "затрачено времени";
  background-color: #eaeaea;
  width: 77px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  position: absolute;
  top: 46px;
  left: 20px;
  color: $base-color-text;
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 14px;
    width: 96px;
    padding: 0;
    top: 63px;
    left: 28px;
    background-color: #e6e6e6;
  }
}

.examples__background {
  @media (min-width: $desktop-width) {
    margin-left: -110px;
    margin-right: -110px;
    padding-left: 110px;
    padding-right: 110px;
    min-height: 462px;
    position: relative;
  }
}

.examples__container {
  @media (min-width: $desktop-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    min-height: 317px;
    padding-top: 70px;
    padding-bottom: 75px;
  }
}

.examples__container-label {
  display: flex;
  gap: 32px;
  margin-bottom: 34px;

  @media (min-width: $desktop-width) {
    gap: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.examples__tiitle-examples {
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.examples__examples {
  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}


.examples__expenses {
  font-family: $oswald;
  font-size: 14px;
  line-height: 20px;
  color: $base-color-text-black;
  width: 188px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 100%;
    gap: 63px;
  }
}

.examples__picture {
  position: relative;

  @media (min-width: $desktop-width) {
    width: 560px;
    height: 512px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 770px;
    top: -140px;
  }
}

.examples__button-thumb {
  width: 4px;
  height: 100%;
  background-color: #666666;
  border: none;
  border-radius: 2px;
  padding: 0;
  position: absolute;
  outline: none;
  z-index: 30;
  left: 140px;

  @media (min-width: $tablet-width) {
    left: 352px;
  }

  @media (min-width: $desktop-width) {
    left: 279px;
  }
}

.examples__picture-container {
  display: flex;
  justify-content: space-between;


  @media (min-width: $tablet-width) {

  }
}

.examples__picture-before {
  overflow: hidden;
  width: 50%;
  text-align: left;
}

.examples__cat-big {
  display: block;
  transform: translateX(0%);

  @media (min-width: $tablet-width) {
    transform: translateX(20%);
  }

  @media (min-width: $desktop-width) {
    transform: translateX(0);
  }
}

.examples__picture-after {
  overflow: hidden;
  text-align: right;
  width: 50%;
}

.examples__cat-small {
  display: block;
  width: 200%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    transform: translateX(-60%);
  }

  @media (min-width: $desktop-width) {
    transform: translateX(-284px);
  }
}

.examples__button-thumb:hover {
  background-color: #68b738;
}

.examples__button-thumb:active {
  background-color: #68b738;
  opacity: 0.6;
}

.examples__thumb {
  stroke: #666666;
  color: #666666;
  position: absolute;
  top: 104px;
  left: -18px;

  @media (min-width: $tablet-width) {
    top: 228px;
    left: -18px;
  }
}

.examples__thumb:hover {
  stroke: #68b738;
  color: #68b738;
}

.examples__thumb:active {
  stroke: #68b738;
  color: #68b738;
  opacity: 0.6;
}
