.examples {
  font-weight: 400;
}

.examples__tittle {
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  line-height: 60px;
  color: $base-color-text-black;
  font-weight: 400;
}

.examples__text {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.examples__container-options {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  line-height: 37px;
  color: $base-color-text-black;
}

.examples__container-label {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 14px;
}

.examples__expenses {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: $base-color-text-black;
}
