.examples {
  background-color: #eaeaea;
  margin: 0 auto;
  width: 100%;
}

.examples__wrapper {
  padding: 25px 20px 40px;

  @media (min-width: $tablet-width) {
    padding: 45px 30px 250px;
  }

  @media (min-width: $desktop-width) {
    padding: 69px 110px 85px;
  }
}

.examples__title {
  font-family: $oswald;
  font-size: 36px;
  line-height: 40px;
  color: $base-color-text-black;
  font-weight: 400;
}

.examples__text {
  font-family: $lato;
  font-size: 14px;
  line-height: 18px;
}

.examples__container-options {
  font-family: $oswald;
  font-size: 24px;
  line-height: 24px;
  color: $base-color-text-black;
}

.examples__container-label {
  font-family: $lato;
  font-size: 12px;
  line-height: 12px;
}

.examples__expenses {
  font-family: $oswald;
  font-size: 14px;
  line-height: 20px;
  color: $base-color-text-black;
}

.examples__button-thumb {
  width: 4px;
  height: 256px;
  background-color: #666666;
  border: none;
  border-radius: 2px;
  padding: 0;
  position: relative;
  outline: none;
}

.examples__button-thumb:hover {
  background-color: #68b738;
}

.examples__button-thumb:active {
  background-color: #68b738;
  opacity: 0.6;
}

.examples__thumb {
  stroke: #666666;
  color: #666666;
  position: absolute;
  top: 104px;
  left: -18px;
}

.examples__thumb:hover {
  stroke: #68b738;
  color: #68b738;
}

.examples__thumb:active {
  stroke: #68b738;
  color: #68b738;
  opacity: 0.6;
}
