.hero {
  width: 100%;
  font-family: $oswald;
  font-size: 14px;
  line-height: 14px;
  color: $base-color-text-black;
  position: relative;
  min-height: 480px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.hero__wrapper {
  padding-bottom: 0;
  position: relative;


  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 331px;
    display: flex;
  }
}


.hero__container-lead {
  width: 100%;
  min-height: 302px;
  background:
    linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../../images/index-background-desktop-mobile@2x.png");
  background-size: 320px 302px;
  padding-top: 27px;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    background: none;
    padding-left: 120px;
    min-height: 180px;
  }
}


.hero__lead {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    margin-top: 0;
    color: #000000;
    text-align: start;
    width: 414px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
    margin-top: 0;
  }
}

.hero__tagline {
  text-align: center;
  margin: 0;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    color: #000000;
    text-align: start;
    margin-bottom: 21px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
    margin-top: 0;
  }
}

.hero__picture {
  z-index: 2;
  position: absolute;
  top: 167px;
  left: 20px;

  @media (min-width: $tablet-width) {
    position: static;
    width: 709px;
    height: 609px;
    display: block;
    padding-left: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    position: absolute;
    top: -30px;
    left: 570px;
  }
}

.hero__button {
  width: 280px;
  margin: 0 20px;
  margin-top: 138px;
  font-size: 16px;
  line-height: 20px;
  height: 40px;
  padding: 10px 63px;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 244px;
    height: 54px;
    padding: 14px 26px;
    position: absolute;
    top: 260px;
    left: 150px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    top: 260px;
    left: 230px;
  }
}
