.main-nav {
  font-family: $oswald;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $base-color-text-black;
  margin: 0 auto;
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 29.64px;
  }
}

.main-nav__site-list {
  list-style: none;
  color: #000000;
  text-transform: uppercase;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 33px;
  }
}

.main-nav--opened {
  display: block;
}

.main-nav--closed {
  display: none;
}


.main-nav__item {
  text-align: center;
  width: 100%;
  padding-top: 22px;
  padding-bottom: 24px;
  border: 1px solid #e6e6e6;
  border-left: none;
  border-right: none;
}

.main-nav__link {
  text-decoration: none;
  color: $base-color-text-black;
}

.main-nav__link:hover {
  opacity: 0.6;
}

.main-nav__link:active {
  opacity: 0.3;
}

.main-nav__burger:hover {
  opacity: 0.8;
}

.main-nav__burger:active {
  opacity: 0.6;
}

.main-nav__burger {
  width: 24px;
  height: 24px;
  border: none;
  padding: 0;
  background-color: $button-background-white;
  display: block;
  cursor: pointer;
}

.main-nav__burger--cross {
  display: none;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .main-nav__burger {
    display: none;
  }
}

