.main-nav {
  font-family: $oswald;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $base-color-text-black;
  margin: 0 auto;
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 29.64px;
  }
}

.main-nav__site-list {
  list-style: none;
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 33px;
  }
}


@media (min-width: $tablet-width) {
  .main-nav__burger {
    display: none;
  }
}

.main-nav__link {
  text-decoration: none;
  color: $base-color-text-black;
}

.main-nav__link:hover {
  opacity: 0.6;
}

.main-nav__link:active {
  opacity: 0.3;
}

.main-nav__burger:hover {
  opacity: 0.8;
}

.main-nav__burger:active {
  opacity: 0.6;
}

.main-nav__burger {
  width: 24px;
  height: 24px;
  border: none;
  padding: 0;
  background-color: $button-background-white;
}

.main-nav__burger--cross {
  display: none;
}
