.main-header {
  width: 100%;


  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 51px;
  }
}


.main-header__wrapper {
  @media (min-width: $tablet-width) {
    padding: 25px 34px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 110px 29px;
  }
}

.main-header__logo-container {
  display: flex;
  justify-content: space-between;
  padding: 12px 14px 14px 20px;
  align-items: center;
  position: relative;
  margin-bottom: -3px;


  @media (min-width: $tablet-width) {
    margin-right: 94px;
    padding: 0;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 541px;
  }
}


.main-header__burger:hover {
  opacity: 0.8;
}

.main-header__burger:active {
  opacity: 0.6;
}

.main-header__burger {
  width: 24px;
  height: 24px;
  border: none;
  padding: 0;
  background-color: $button-background-white;
  display: block;
  cursor: pointer;
}

.main-header__burger--cross {
  display: none;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .main-.main-header__burger--active .main-header__burger--icon {
    display: none;
  }

  .main-header__burger--active .main-header__cross--icon {
    display: block;
  }

  .main-header__burger {
    display: none;
  }
}

.main-header__cross--icon {
  display: none;
}

.main-header__burger--active .main-header__burger--icon {
  display: none;
}

.main-header__burger--active .main-header__cross--icon {
  display: block;
}


.main-header--cat::before {
  @media (min-width: $desktop-width) {
    content: "";
    width: 50%;
    height: 694px;
    background:
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../../images/index-background-desktop-desktop@2x.png");
    background-position: right;
    background-size: cover;
    position: absolute;
    top: 0;
    right: -6px;
    z-index: -10;
  }
}
