.main-nav {
  font-family: $oswald;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $base-color-text-black;
}

.main-nav__site-list {
  list-style: none;
}

.main-nav__link {
  text-decoration: none;
  color: $base-color-text-black;
}

.main-nav__link:hover {
  opacity: 0.6;
}

.main-nav__link:active {
  opacity: 0.3;
}

.main-nav__burger:hover {
  opacity: 0.8;
}

.main-nav__burger:active {
  opacity: 0.6;
}

.main-nav__burger {
  width: 24px;
  height: 24px;
  border: none;
  padding: 0;
  background-color: $button-background-white;
}

.main-nav__burger--cross {
  display: none;
}
