.main-footer {
  font-family: $lato;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
}

.main-footer--catalog {
  background-color: #f2f2f2;
}

.main-footer__wrapper {
  padding: 19px 20px;

  @media (min-width: $tablet-width) {
    padding: 60px 30px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 72px 110px;
  }
}

.main-footer__list {
  text-align: center;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    display: grid;
    grid-template-columns: 406px 406px 406px;
    gap: 142px;
  }
}


.main-footer__item {
  margin: 0 auto;
  padding: 18px 0;
  border-bottom: 1px solid #d9d9d9;
  width: 100%;

  @media (min-width: $tablet-width) {
    border: none;
    width: auto;
    margin: 0;
    padding: 0;
  }
}

.main-footer__item:last-child {
  border-bottom: none;
  text-align: right;
}

.main-footer__logo-text:hover {
  opacity: 0.8;
}

.main-footer__logo-text:active {
  opacity: 0.6;
}

.social-list__link {
  fill: #666666;
}

.social-list__link:hover {
  fill: #68b738;
}

.main-footer__logo {
  display: flex;
  gap: 140px;
  justify-content: center;
  align-items: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    gap: 23px;
    margin-top: -10px;
  }
}

.main-footer__logo-academy-svg {
  fill: #666666;
  color: $base-color-text;
  text-decoration: none;
  display: inline-block;
}

.main-footer__logo-academy-svg:hover {
  fill: #68b738;
}

.main-footer__logo-academy-svg:active {
  opacity: 0.3;
}

.main-footer__logo-image {
  width: 128px;
  height: 24px;

  @media (min-width: $tablet-width) {
    margin-top: -3px;
  }
}

.main-footer__item--logo {
  @media (min-width: $tablet-width) {
    justify-self: self-start;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}

.main-footer__item--logo-academy {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 168px;
  }

  @media (min-width: $desktop-width) {
    justify-self: self-end;
  }
}
