.main-nav {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: $base-color-text-black;
}

.main-nav__site-list {
  list-style: none;
}

.main-nav__link {
  text-decoration: none;
  color: $base-color-text-black;
}
