.main-footer {
  font-family: $lato;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
}

.main-footer--catalog {
  background-color: #f2f2f2;
}

.main-footer__wrapper {
  padding: 40px 20px;

  @media (min-width: $tablet-width) {
    padding: 55px 30px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 110px;
  }
}

.main-footer__list {
  text-align: center;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}


.main-footer__item {
  margin: 0 auto;
  padding: 20px 0;
  border-bottom: 1px solid #d9d9d9;
  width: 100%;

  @media (min-width: $tablet-width) {
    border: none;
    width: auto;
    margin: 0;
    padding: 0;
  }
}

.main-footer__item:last-child {
  border-bottom: none;
}

.main-footer__logo-text {
  padding-bottom: 20px;
}

.main-footer__logo-text:hover {
  opacity: 0.8;
}

.main-footer__logo-text:active {
  opacity: 0.6;
}

.social-list__link {
  fill: #666666;
}

.social-list__link:hover {
  fill: #68b738;
}

.main-footer__logo {
  display: flex;
  gap: 140px;
  justify-content: center;
  align-items: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    gap: 23px;
  }
}

.main-footer__logo-academy-svg {
  fill: #666666;
  color: $base-color-text;
  text-decoration: none;
}

.main-footer__logo-academy-svg:hover {
  fill: #68b738;
}

.main-footer__logo-academy-svg:active {
  opacity: 0.3;
}

.main-footer__logo-image {
  width: 128px;
  height: 24px;
}
