.main-nav {
  font-family: $oswald;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $base-color-text-black;
  margin: 0 auto;
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    padding-top: 10px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 29.64px;
  }
}

.main-nav__site-list {
  list-style: none;
  color: #000000;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  width: $mobile-width-only;
  position: absolute;
  z-index: 10;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    position: static;
    display: flex;
    gap: 33px;
    flex-wrap: wrap;
    width: 436px;
  }

  @media (min-width: $desktop-width) {
    width: 475px;
    gap: 32.5px;
    background: none;
  }
}

.main-nav--opened {
  display: block;
}

.main-nav--closed {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}


.main-nav__item {
  text-align: center;
  width: 100%;
  padding-top: 22px;
  padding-bottom: 24px;
  border: 1px solid #e6e6e6;
  border-left: none;
  border-right: none;
  position: relative;
  border-bottom: none;

  @media (min-width: $tablet-width) {
    border: none;
    padding-top: 4px;
    padding-bottom: 12px;
    width: auto;
  }
}

.main-nav__link {
  text-decoration: none;
  color: $base-color-text-black;

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.main-nav__link--catalog {
  @media (min-width: $desktop-width) {
    color: #111111;
  }
}

.main-nav__link:hover {
  opacity: 0.6;
}

.main-nav__link:active {
  opacity: 0.3;
}

.main-nav__item--active::after {
  @media (min-width: $tablet-width) {
    content: "";
    width: 100%;
    height: 3px;
    background-color: $button-background;
    position: absolute;
    left: 0;
    top: 32px;
  }

  @media (min-width: $desktop-width) {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 38px;
  }
}

.main-nav__item--catalog-active::after {
  @media (min-width: $tablet-width) {
    content: "";
    width: 100%;
    height: 3px;
    background-color: $button-background;
    position: absolute;
    left: 0;
    top: 32px;
  }

  @media (min-width: $desktop-width) {
    top: 39px;
  }
}
