.main-header {
  width: 100%;
}


.main-header__wrapper {
  padding: 13px 21px 14px 20px;
  display: flex;
  justify-content: space-between;
  gap: 65px;

  @media (min-width: $tablet-width) {
    padding: 25px 34px 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 110px 29px;
  }
}
