.map {
  font-weight: 400;
  margin: 0;
  width: 100%;
}

.map--catalog {
  background-color: #f2f2f2;
}

.map__wrapper {
  padding: 0;

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.map__container {
  padding: 26px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 60px 150px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 78px;
    position: absolute;
    background-color: #ffffff;
    width: 565px;
    min-height: 199px;
    top: 95px;
    left: 173px;
  }
}

.map__title {
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
  width: 140px;
  margin: 0;

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.map__adress {
  font-family: $lato;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  width: 140px;

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.map__street {
  margin: 0;

  @media (min-width: $desktop-width) {
    margin-bottom: 19px;
  }
}

.map__city {
  margin: 0;
}
