.map {
  font-weight: 400;
}

.map__tittle {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;
  color: $base-color-text-black;
}

.map__adress {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
}
