.map {
  font-weight: 400;
}

.map__title {
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}

.map__adress {
  font-family: $lato;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
}
