.programs {
  color: $base-color-text-black;
}

.programs__program {
  background-color: #f2f2f2;
  width: 280px;
  min-height: 266px;
  position: relative;
}

.programs__name {
  font-family: $oswald;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 400;
  padding-left: 90px;
}

.programs__program-description {
  font-family: $lato;
  font-size: 14px;
  line-height: 18px;
}

.programs__program-link {
  font-family: $oswald;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: $base-color-text-black;
  text-transform: uppercase;
  position: relative;
}

.programs__program-link::after {
  content: "";
  width: 32px;
  height: 10px;
  background-image: url("../../icons/stack.svg#arrow");
  position: absolute;
}

.programs__program--weight-loss::before {
  content: "";
  width: 50px;
  height: 53px;
  background-image: url("../../icons/stack.svg#index-cat-back-1");
  position: absolute;
}

.programs__program--kit::before {
  content: "";
  width: 67px;
  height: 50px;
  background-image: url("../../icons/stack.svg#index-cat-back-2");
  position: absolute;
  left: 0;
}

.programs__program-link:hover {
  opacity: 0.3;
}
