.programs {
  width: 100%;
}

.programs__wrapper {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 0;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 110px;
    padding-left: 110px;
    padding-top: 82px;
    flex-direction: row;
  }
}

.programs__program {
  background-color: #f2f2f2;
  position: relative;
  padding: 21px 33px 18px 20px;

  @media (min-width: $tablet-width) {
    padding: 77px 63px 53px 52px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}


.programs__name {
  font-family: $oswald;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 400;
  padding-left: 90px;
  margin-top: 0;
}

.programs__program-description {
  font-family: $lato;
  font-size: 14px;
  line-height: 18px;
}

.programs__program-link {
  font-family: $oswald;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: $base-color-text-black;
  text-transform: uppercase;
  position: relative;
}

.programs__program-link::after {
  content: "";
  width: 32px;
  height: 10px;
  background-image: url("../../icons/stack.svg#arrow");
  position: absolute;
}

.programs__program--weight-loss::before {
  content: "";
  width: 50px;
  height: 53px;
  background-image: url("../../icons/stack.svg#index-cat-back-1");
  position: absolute;
}

.programs__program--kit::before {
  content: "";
  width: 67px;
  height: 50px;
  background-image: url("../../icons/stack.svg#index-cat-back-2");
  position: absolute;
  left: 0;
}

.programs__program-link:hover {
  opacity: 0.3;
}
