.subscription-form {
  color: $base-color-text-black;
  font-family: $oswald;
  width: 100%;
  overflow: hidden;
}

.subscription-form__wrapper {
  padding: 41px 20px;

  @media (min-width: $tablet-width) {
    padding: 80px 69px;
  }

  @media (min-width: $desktop-width) {
    padding: 96px 110px 104px;
  }
}


.subscription-form__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  position: relative;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 72px;
    font-size: 40px;
    line-height: 40px;
  }
}

.subscription-form__title::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: $button-background;
  position: absolute;
  top: 11px;
  left: 192px;

  @media (min-width: $tablet-width) {
    left: 250px;
    top: 14px;
  }

  @media (min-width: $desktop-width) {
    left: 294px;
    top: 18px;
  }
}

.subscription-form__title::after {
  @media (min-width: $tablet-width) {
    content: "";
    width: 100%;
    height: 2px;
    background-color: $button-background;
    position: absolute;
    top: 14px;
    left: -667px;
  }

  @media (min-width: $desktop-width) {
    left: -1260px;
    top: 18px;
  }
}

.subscription-form__text {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }
}

.subscription-form__input {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    width: 752px;
  }
}

.subscription-form__field {
  padding: 12px;
  font-size: 20px;
  line-height: 29.64px;
  border: 1px solid #cdcdcd;
  text-transform: uppercase;
  font-family: $oswald;

  @media (min-width: $tablet-width) {
    width: 376px;
    font-size: 20px;
    line-height: 29.64px;
  }

  @media (min-width: $desktop-width) {
    width: 496px;
  }
}

.subscription-form__button {
  padding-top: 14px;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 26px;
  margin-top: -8px;

  @media (min-width: $tablet-width) {
    padding: 15px 69.5px;
  }
}
