.subscription-form {
  color: $base-color-text-black;
  font-family: "Oswald", sans-serif;
}

.subscription-form__tittle {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
}

.subscription-form__text {
  font-size: 24px;
  line-height: 32px;
}
